<div class="card">
  <div class="card-header bordered">
    <div class="header-block">
      <h3 class="title">Редактировать категорию</h3>
    </div>
  </div>
  <div class="card-block">
    <div class="alert alert-success" *ngIf="message">{{message}}</div>
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="form-group">
        <label class="control-label" for="category">Выберите категорию</label>
        <select
          class="form-control"
          id="category"
          [(ngModel)]="currentCategoryId"
          (change)="setCurrentCategory()"
          [ngModelOptions]="{standalone: true}"
        >
          <option *ngFor="let cat of categories" [value]="cat.id">{{cat.name}}</option>
        </select>
      </div>
      <div class="form-group" [ngClass]="{'has-error': name.touched && name.invalid}">
        <label class="control-label" for="category-name">Введите название</label>
        <input
          type="text"
          id="category-name"
          class="form-control"
          required
          name="name"
          [ngModel]="category.name"
          #name="ngModel"
        >
        <span class="form-help-text" *ngIf="name.touched && name.invalid">Название не может быть пустым</span>
      </div>
      <div class="form-group" [ngClass]="{'has-error': capacity.touched && capacity.invalid}">
        <label class="control-label" for="capacity">Введите лимит</label>
        <input
          type="number"
          min="1"
          id="capacity"
          name="capacity"
          class="form-control"
          required
          [ngModel]="category.capacity"
          #capacity="ngModel"
        >
        <span class="form-help-text" *ngIf="capacity.touched && capacity.invalid">Лимит не может быть отрицательным</span>
      </div>
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="f.invalid"
      >Редактировать</button>
    </form>
  </div>
</div>
