html, body {
    height: 100%;
}

.system-sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    border-right: 1px solid #eee;
}

.system-container-nav-offset {
    padding-top: 54px;
    height: 100%;
}

.system-container-nav-offset > .row {
    height: 100%;
}