<div class="title-block">
  <h3 class="title">
    Страница записей <span class="sparkline bar"></span>
  </h3>
</div>

<section class="section">
  <div class="row" *ngIf="isLoaded">
    <div class="col-md-6">
      <wfm-add-event [categories]="categories"></wfm-add-event>
    </div>
    <div class="col-md-6">
      <wfm-add-category (onAddCategory)="newCategoryAdded($event)"></wfm-add-category>
    </div>
  </div>
  <div class="row" *ngIf="!isLoaded">
    <div class="col-xs-12">
      Loading ....
    </div>
  </div>
</section>
